<p id="notice"><%= notice %></p>

<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h3>Welcome to Bubbaville's Sports Organization's Calendar of Events!</h3>
      <p>If you like to become a member, please register below</p>
      <p>
        <%= link_to 'Sign-up', new_member_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>


<h1>Game Days</h1>

<table class="table">
  <thead>
    <tr>
      <th>League</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Game date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.league_id %></td>
        <td><%= schedule.team_id %></td>
        <td><%= schedule.team_id %></td>
        <td><%= schedule.game_date %></td>
        <!--<td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
