<p id="notice"><%= notice %></p>

<p>
  <strong>Coach:</strong>
  <%= @schedule.coach_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @schedule.player_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @schedule.team_id %>
</p>

<p>
  <strong>League:</strong>
  <%= @schedule.league_id %>
</p>

<p>
  <strong>Game date:</strong>
  <%= @schedule.game_date %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
