<!DOCTYPE html>
<html>
<head>
  <title>BSO0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'man.png' %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BSO Home", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      
      <ul class="nav navbar-nav navbar-right">        
        <% if member_signed_in? %>
        <li><%= link_to "Coaches", coaches_path %></li>
        <li><%= link_to "Teams", teams_path %></li>
        <li><%= link_to "Leagues", leagues_path %></li>
        <li><%= link_to "Schedules", new_schedule_path %></li>
        <li><%= link_to "Sign Out", destroy_member_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign In", new_member_session_path %></li>
        <% end %>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <%= msg %>
    </div>
  <% end %>
</div> 

<%= yield :top_content %>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>


</body>
</html>
